/* Global styles */
* {
  color: white; /* Default text color for all elements */
}

/* Styles for movie image */
.movie-image {
  transition: filter 0.3s ease; /* Smooth transition for filter property */
}

.movie-image:hover {
  filter: brightness(0.7); /* Darken the image on hover */
}

/* Styles for add button */
#add-btn {
  width: 4rem;
  height: auto;
  margin: 0;
  margin-bottom: 2rem; /* Reduced margin for better spacing */
  padding: 0;
}
